/* *{
    color: white;
}; */
#kakao-login{

    width: 214px;
    height: 52px;

    display: flex;
    justify-content:center;
    align-items: center;
    background: #FFE812;
    border-radius: 20px;
}
#naver-login{

    width: 214px;
    height: 52px;

    display: flex;
    justify-content:center;
    align-items: center;
    background: greenyellow;
    border-radius: 20px;
}
#google-login{

    width: 214px;
    height: 52px;

    display: flex;
    justify-content:center;
    align-items: center;
    background: #FFFFFF;
    border-radius: 20px;
}

.link-text{
    color:black;
}
.buttons{
    display: flex;
    justify-content:center;
    align-items: center;
}