.logo-container{
    display: flex;
    flex-direction: column;
    margin-left: 35px;
    padding-bottom: 30px;
    padding-top: 20px;
}

.sub-logo{
    font-size: 16px;
    font-family: var(--font-nanumSquareL);

    animation-name: moveInLeft;
    animation-duration: 3s;
}

.logo{
    font-size: 40px;
    font-family: var(--font-nanumSquareEB);
}

.logo-circle-left{
    position: absolute;
    top: 35px;
    left: 25px;
    z-index: -99;
    width: 27px;
    height: 27px;
    background-color: rgba(101, 34, 242, 0.56);
    border-radius: 100%;
}

.logo-circle-right{
    position:absolute;
    top: 20px;
    left: 120px;
    z-index: -99;
    width: 70px;
    height: 70px;
    background-color: rgba(101, 34, 242, 0.56);
    border-radius: 100%;
}

@keyframes moveInLeft {

    0% {
        opacity: 0;
        transform: translateX(-50px);
    }
    80% {
        transform: translateX(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
    
}
    
     