




.mygift-detail-img{
    height: 200px;
    background-color: white;
}

.mygift-detail-bottom-wrapper{
    display: flex;
    align-items: center;
    margin-top: 10px;
    justify-content: space-between;
}

.mygift-detail-song-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}
.mygift-detail-song-wrapper>*{
    font-size: 13px;
    font-family: var(--font-nanumSquareB);
    margin-right: 5px;
}

.mygift-detail-heart-wrapper{
    border: 1px solid #6522f2;
    border-radius: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mygift-detail-heart-wrapper > *{
    font-size: 12px;
    font-family: var(--font-nanumSquareR);
    margin-right: 5px;
}

    
.mygift-detail-reaction-wrapper{
    display: flex;
    align-items: center;
    justify-content:space-around;
    margin-top: 40px;
    margin-left: 30px;
    margin-right: 30px;
}

.mygift-detail-reaction{
    height: 35px;
    width: 35px;
    border: 7px solid rgba(101, 34, 242, 0.51);
    border-radius: 100%;
}

.mygift-detail-reaction-number{
    font-size: 13px;
    font-family: var(--font-nanumSquareR);
    margin-top: 10px;
    text-align: center;
}

*{
    color:black;
}
