.nav-container{
    height: 35px;
    display: flex;
    margin-top: 100px;
    background-color: white;
    padding-left: 20px;
    align-items: center;
}

.nav-container>div>*{
    text-decoration: none;
    color: #6522f2;
    font-size: 16px;
    font-family: var(--font-nanumSquareB);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 14px;
    cursor: pointer;
    margin-left: 5px;
}

.nav-container>div>*:hover{
    background-color: #6522f2;
    color: white;
}

.nav-container>.select>*{
    background-color: #6522f2;
    color: white;
}